<section class="main__container--limited-width">
  <h1 class="main__title">{{uppercase 'Fruit'}}</h1>

  <ul>
    {{#each fruit}}
    <li>
      <p>{{capitalize this.title}}</p>
      <img src="{{this.thumbnailUrl}}" alt="fruit">
    </li>
    {{/each}}
  </ul>
</section>
